body {
    padding: 0;
    margin: 0;
    background: url(../img/bg.png);
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}
input:focus, button:focus {
    outline: none;
}

.header {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 900px;
    background-image: url(../img/bg_header.png);
    box-sizing: border-box;
}

.header_content {
    padding-left: 215px;
    padding-top: 530px;
}

.header_text {
    font-size: 48px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);

}

.header_text1 {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;

}

.header_text2 {
    font-size: 54px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    width: 831px;
    height: 129px;
    border: 1px solid #fff;
    padding-left: 27px;
    padding-top: 44px;
    margin-top: 26px;
}

.taxt-orange {
    color: #f1ad1d;
}

.about-h {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    color: #333333;
    padding-top: 72px;

}

.about-p {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    text-align: center;
    color: #4d4943;
    font-weight: 400;
    margin-top: 36px;
    margin-bottom: 30px;

}

.line {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    border: none;
    margin-top: 52px;
}

.img {
    text-align: center;
    margin-top: 50px;

}

.nav {
    width: 1169px;
    margin: 0 auto;
    padding-top: 78px;
    border-bottom: 3px solid #f1ad1d;
}

.nav-logo {
    display: inline-block;
    padding-right: 210px;

}

.nav-list {
    margin: 0;
    display: inline-block;

}

.nav-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 28px;
}

.nav-item:hover {
    color: #f1b128;
}

.nav-item_arrow:after {
    content: ' ';
    display: block;
    background: url(../img/arrow.png);
    width: 10px;
    height: 5px;
    position: relative;
    left: 63px;
    bottom: 13px;
}

.nav-item_arrow:hover:after,
.nav-item_arrow2:hover:after {
    background: url(../img/arrow-hover.png);
}

.nav-item_arrow2:after {
    content: ' ';
    display: block;
    background: url(../img/arrow.png);
    width: 10px;
    height: 5px;
    position: relative;
    left: 103px;
    bottom: 13px;
}

.business {
    height: 320px;
    width: 1169px;
    margin: 49px auto;

}

.business-imeges,
.business-text {
    width: 50%;
    display: inline-block;
    margin: 0 auto;

}

.business-imeges {
    float: left;
}

.business-text {
    text-align: justify;
}

.business-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    box-sizing: border-box;
}

.business-text1 {
    padding-top: 26px;
    color: #505050;
    font-size: 14px;
    font-weight: 300;
}

.business-btn {
    margin-top: 37px;
    width: 176px;
    height: 51px;
    color: #fff;
    background-color: #f1ad1d;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

.ideas {
    background: url(../img/ideas.png) no-repeat;
    box-sizing: border-box;
    height: 380px;
}

.ideas-p {
    padding-top: 151px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.secret-box {
    width: 1169px;
    margin: 0 auto;
    padding-top: 53px;
    text-align: center;
}

.secret-box_img {
    float: left;
    position: relative;
}

.secret-name {
    position: absolute;
    background-color: #333333;
    width: 136px;
    height: 42px;
    color: #fff;
    top: 121px;
    left: 14px;
    padding-top: 15px;
    font-size: 14px;
    display: block;
    box-sizing: border-box;

}

.secret-name span {
    color: #f1ad1d;
}

.get {
    width: 1169px;
    margin: 0 auto;
}

.get-box {
    width: 271px;
    border-bottom: 3px solid #333333;
    padding-bottom: 34px;
    padding-top: 40px;
    float: left;
    margin-right: 28px;
    margin-bottom: 160px;
}

.margin-right {
    margin-right: 0;
}

.get-box_title {
    background-color: #333333;
    width: 271px;
    height: 56px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-top: 17px;
    box-sizing: border-box;
}

.get-box_img {
    width: 50px;
    height: 50px;
    margin: 25px auto 0;
    text-align: center;
}

.get-box_content {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 18px;
}

.get-box_h {
    color: #505050;
    font-size: 18px;
    text-align: center;
}

.featured {
    background: url(../img/featured-bg.png) no-repeat;
    height: 475px;
}

.clear {
    clear: both;
}

.featured-p {
    padding-top: 165px;

}

.featured-img {
    padding-top: 58px;
    width: 830px;
    margin: 0 auto;
    height: 52px;

}

.featured-img_logo {
    display: inline-block;
    padding-right: 54px;
}

.padding-right {
    padding-right: 0;
}

.listen {
    width: 1169px;
    margin: 0 auto;
}

.listen-box {
    width: 370px;
    margin-top: 55px;

    float: left;
    margin-right: 19px;
}

.listen-line {
    width: 305px;
    height: 3px;
    background-color: #f1ad1d;
    border: none;
    display: block;
    float: right;
}

.listen-span:before {
    content: ' ';
    display: block;
    background: url(../img/Layer10.png) no-repeat;
    width: 52px;
    height: 48px;
    position: relative;
    top: 20px;

}

.listen-p {
    clear: both;
    font-size: 14px;
    padding-top: 25px;
    border-bottom: 3px solid #000;
    padding-bottom: 30px;
}

.listen-photo {
    padding-top: 13px;
    float: left;
}

.listen-info {
    float: left;
    margin-left: 10px;
    padding-top: 25px;
}

.listen-name,
.listen-prof {

    color: #313131;
    font-size: 14px;


}

.listen-name {
    font-weight: bold;
}

.times {
    width: 1169px;
    margin: 0 auto;
}

.form-1 {
    width: 770px;
    margin: 55px auto;

}

.form-1_inp {
    width: 600px;
    height: 64px;
    border-right: none;
    border: 1px solid #c7c7c7;
    color: #747474;
    font-size: 18px;
    font-style: italic;
    padding-left: 30px;
    box-sizing: border-box;
}

.form-1_btn {
    width: 164px;
    height: 64px;
    background-color: #f1ad1d;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-left: -5px;

}

.form-2 {
    width: 572px;
    float: left;
}

.form-2_text {
    background-color: #333333;
    width: 380px;
    height: 56px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding-top: 22px;
    padding-left: 15px;
}



.form-2_label {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    margin: 23px 0;
    display: block;
}

.form-2_name,
.form-2_email {
    width: 269px;
    height: 43px;
    font-style: italic;
    color: #505050;
    font-size: 14px;
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.form-2_name {
    margin-right: 22px;
}

.form-2_mess {
    width: 572px;
    height: 186px;
    font-style: italic;
    color: #505050;
    font-size: 14px;
    padding-left: 15px;
    box-sizing: border-box;
}

.form-2_btn {
    background-color: #f1ad1d;
    width: 118px;
    height: 43px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    border: none;
    text-transform: uppercase;
    margin-right: 24px;
    margin-top: 20px;
}

.contacts {
    float: left;
    margin-left: 225px;
}

.contacts-text {
    width: 246px;

}

.icon-position {
    padding-bottom: 9px;
}

.icon-block {
    background-color: #333333;
    width: 36px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 3px;

    vertical-align: middle;
}

.icon-yellow {
    color: #f1ad1d;
    position: relative;
    top: 5px;
    left: 10px;

}

.icon-text {
    font-size: 14px;
    color: #505050;
    display: inline-block;
    vertical-align: middle;
}

.brends-box {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
}
.check {
    margin-top: 142px;
    background: #000 url(../img/check-bg.png) no-repeat bottom center;
    height: 485px;
}

.check-text {
    text-align: center;
    padding-top: 60px;
    width: 573px;
    color: #ffffff;
    font-size: 18px;
    margin: 0 auto;
    font-family: OpenSans;
}

.portfolio-discription {
    /*включаем флекс */
    width: 1169px;
    margin: 0 auto;

}

.portfolio-container {
    width: 1169px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 51px;
}

.portfolio-item {
    width: 370px;

}

.item-title {
    font-family: Montserrat;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    margin-top: 9px;
}

.item-title:before {
    content: '';
    background: url(../img/kopy2.png) center no-repeat #333333;
    display: inline-block;
    width: 36px;
    height: 32px;
    vertical-align: middle;
}

.item-discription {
    font-family: Lato;
    color: #505050;
    font-size: 14px;
    margin-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c1c1c1;
    text-align: ;
}

.portfolio-deteils {
    font-family: Lato;
    color: #828282;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 11px;
    padding-top: 15px;
    border-bottom: 3px solid #333;
    margin-bottom: 30px;

}

.item-teame {
    display: inline-block;
    text-align: left;
}

.item-details {
    display: inline-block;
    text-align: right;
    padding-left: 184px;
}


.portfolio-btn {
    width: 230px;
    height: 50px;
    background-color: #f1ad1d;
    color: #fff;
    text-transform: capitalize;
    border: none;
    display: block;
    margin: 100px auto;
    font-weight: 700;
}
.start  {
    background: url(../img/start-bg.png) no-repeat bottom center;
    height: 485px;
}
.start-btn {
    width: 173px;
    height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin: 50px auto 0;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    display: block;
}
.start-nav {
    width: 832px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.bottom {
    margin-bottom: 50px;
}
.trust-btn {
    padding: 14px 36px;
    text-transform: capitalize;
    font-size: 14px;
    color: #111;
    background-color: #fff;
    border: 1px solid #333;
}
.trust-btn:hover {
    color:  #f1ad1d;
    background-color: #000;
}
.our-works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 271px);
    grid-gap: 8px;

}
.grid-block-1 {
    background-image: url(../img/Layer55.png);
    background-repeat: no-repeat;
}
.grid-block-2 {
    background-image: url(../img/grid1.png);
    background-repeat: no-repeat;
}
.grid-block-3 {
    background-image: url(../img/Layer41.png);
    background-repeat: no-repeat;
}
.grid-block-4 {
    background-image: url(../img/Layer42.png);
    background-repeat: no-repeat;
}
.grid-block-5 {
    background-image: url(../img/Layer43.png);
    background-repeat: no-repeat;
}
.grid-block-6 {
    background-image: url(../img/Layer44.png);
    background-repeat: no-repeat;
}
.grid-block-7 {
    background-image: url(../img/Layer45.png);
    background-repeat: no-repeat;
}
.grid-block-8 {
    background-image: url(../img/Layer46.png);
    background-repeat: no-repeat;
}
.grid-block-9 {
    background-image: url(../img/Layer47.png);
    background-repeat: no-repeat;
}
.grid-block-10 {
    background-image: url(../img/Layer48.png);
    background-repeat: no-repeat;
}
.grid-block-11 {
    background-image: url(../img/Layer49.png);
    background-repeat: no-repeat;
}
.grid-block-12 {
    background-image: url(../img/Layer50.png);
    background-repeat: no-repeat;
}
.footer {
    margin-top: 79px;
}
.footer-title {
    height: 63px;
    background-color:  #333333;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top: 23px;
}


.footer-copy {
    text-align: center;
    padding-top: 33px;
    font-size: 14px;
    color: #333;
    margin-bottom: 40px;
}
